body {
    background-color: #ebebeb;

}

.header {
    background-color: #ffffff;
    height: 90px;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1500px;
}

.header__logo {
    padding-left: 50px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.register__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.register-form__heading h2 {
    color: #000000;
}

.form {
    margin: 0 auto;
    width: 100%;
    text-align: center;

}

.form__group {
    margin-bottom: 5px;
}

.form__group-content {
    margin: 0 auto;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    margin: 0 auto;
    padding: 10px;
    width: 40%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__button {
    margin-top: 10px;
}

.form__button-submit {
    padding: 10px;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: blue;
    color: #fff;
    cursor: pointer;
}

.form__login-link {
    padding: 10px
}

.form__login-link p {
    color: #5f5f5f;
    font-size: small;
}

.form__login-link a {
    text-decoration: none;
    color: blue;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    height: 60px;
    text-align: center;
}